<template>
  <ul class="sidenav app-sidenav" :class="opn?'open':'close'">

    <router-link
        v-for="link in links"
        :key="link.url"
        :to="link.url"
        v-slot="{ href, route, navigate, isActive, isExactActive }"

    >
      <li :class="[isActive && 'active', isExactActive && 'exact-active']">
        <a href="#" class="waves-effect waves-orange pointer">{{ link.title }}</a>
      </li>    </router-link>
  </ul>
</template>

<script>
export default {

  name: 'Sidebar',
  props: ['opn'],

  data: () => ({
    links: [
      {title: 'Счет', url: '/', exact: true},
      {title: 'История', url: '/history'},
      {title: 'Планирование', url: '/planning'},
      {title: 'Новая запись', url: '/record'},
      {title: 'Категории', url: '/categories'}
    ]
  })
}
</script>