<template>
  <form class="card auth-card" @submit.prevent="submitHandler">
    <div class="card-content">
      <span class="card-title">Домашняя бухгалтерия</span>
      <div class="input-field">
        <input
            id="email"
            type="text"
            v-model.trim="email"
       />
        <label for="email">Email</label>
        <small
            class="helper-text invalid"
            v-for="(error, index) of v$.email.$errors"
            :key="index"
        >{{ error.$property}} {{ error.$message }}</small>
      </div>

      <div class="input-field">
        <input
            id="password"
            type="password"
            v-model.trim="password"
            :class="{invalid: (v$.password.$dirty && !v$.password.required) || (v$.password.$dirty && !v$.password.minLength)}"
        >
        <label for="password">Пароль</label>
        <small
            class="helper-text invalid"
            v-for="(error, index) of v$.password.$errors"
            :key="index"
        >
          {{ error.$property}} {{ error.$message }}
        </small>
      </div>
    </div>
    <div class="card-action">
      <div>
        <button
            class="btn waves-effect waves-light auth-submit"
            type="submit"
        >
          Войти
          <i class="material-icons right">send</i>
        </button>
      </div>

      <p class="center">
        Нет аккаунта?
        <router-link to="/register">Зарегистрироваться</router-link>
      </p>
    </div>
  </form>
</template>

<script>
import { useVuelidate } from '@vuelidate/core'
import {email, required, minLength, helpers} from '@vuelidate/validators'
import messages from '@/utils/messages'
import {error} from '@/utils/error'

const validations = {
      email: {
        email,
        required: helpers.withMessage('This field cannot be empty!', required)
      },
      password: {
        required: helpers.withMessage('Password field cannot be empty!', required),
        minLength: helpers.withMessage(
            ({
               $pending,
               $invalid,
               $params,
               $model
             }) => `This field has a value of '${$model}' but must have a min length of ${$params.min} so it is ${$invalid ? 'invalid' : 'valid'}`,
            minLength(4)
        )
      }
    }


export default {
  name: 'login',

  setup (){
   return { v$: useVuelidate()}
  },
  data(){
  return {
    email: '',
    password: ''
  }
  },
  validations,

  mounted() {
    if (messages[this.$route.query.message]) {
      this.$message(messages[this.$route.query.message])
    }
  },
  methods: {
    async submitHandler() {
      this.v$.$touch()
      if (this.v$.$error) {
        return
      }
      const formData = {
        email: this.email,
        password: this.password
      }
      try {
        await this.$store.dispatch('login', formData)
        await this.$router.push('/')
      } catch (e) {
        console.log(e)
        this.$message(error(e))
      }

    }
  }
}
</script>