<template>
  <form class="card auth-card" @submit.prevent="submitHandler">
    <div class="card-content">
      <span class="card-title">Домашняя бухгалтерия</span>
      <div class="input-field">
        <input
            id="email"
            type="text"
            v-model.trim="email"
        />
        <label for="email">Email</label>
        <small
            class="helper-text invalid"
            v-for="(error, index) of v$.email.$errors"
            :key="index"
        >{{ error.$property}} {{ error.$message }}</small>
      </div>
      <div class="input-field">
        <input
            id="password"
            type="password"
            v-model.trim="password"
            :class="{invalid: (v$.password.$dirty && !v$.password.required) || (v$.password.$dirty && !v$.password.minLength)}"
        >
        <label for="password">Пароль</label>
        <small
            class="helper-text invalid"
            v-for="(error, index) of v$.password.$errors"
            :key="index"
        >
          {{ error.$property}} {{ error.$message }}
        </small>
      </div>
      <div class="input-field">
        <input
            id="name"
            type="text"
            v-model.trim="name"
        />
        <label for="name">Name</label>
        <small
            class="helper-text invalid"
            v-for="(error, index) of v$.name.$errors"
            :key="index"
        >{{ error.$property}} {{ error.$message }}</small>
      </div>
      <p>
        <label>
          <input
              type="checkbox"
              v-model.trim="agree"
          />
          <span v-if="v$.agree.$error" style="color: #f44336">С правилами согласен</span>
          <span v-if="!v$.agree.$error" >С правилами согласен</span>

        </label>
      </p>
    </div>
    <div class="card-action">
      <div>
        <button
            class="btn waves-effect waves-light auth-submit"
            type="submit"
        >
          Зарегистрироваться
          <i class="material-icons right">send</i>
        </button>
      </div>

      <p class="center">
        Уже есть аккаунт?
        <router-link to="/login">Войти!</router-link>
      </p>
    </div>
  </form>
</template>
<script>
import {useVuelidate} from '@vuelidate/core'
import {email, required, minLength, helpers, sameAs} from '@vuelidate/validators'
import messages from '@/utils/messages'
import {error} from '@/utils/error'

const validations = {
  name: {
    required: helpers.withMessage('Name field cannot be empty!', required)
  },
  email: {
    email,
    required: helpers.withMessage('Email field cannot be empty!', required)
  },
  password: {
    required: helpers.withMessage('Password field cannot be empty!', required),
    minLength: helpers.withMessage(
        ({
           $pending,
           $invalid,
           $params,
           $model
         }) => `This field has a value of '${$model}' but must have a min length of ${$params.min} so it is ${$invalid ? 'invalid' : 'valid'}`,
        minLength(4)
    )
  },
  agree: {checked: v => v}
}

export default {
  name: 'register',
  setup() {
    return {v$: useVuelidate()}
  },
// validationConfig: {
//     $lazy: true,
// },
  data() {
    return {
      email: '',
      password: '',
      name:'',
      agree: false
    }
  },
  validations,
    mounted() {
        if (messages[this.$route.query.message]) {
            this.$message(messages[this.$route.query.message])
        }
    },
  methods: {
      async submitHandler() {
      this.v$.$touch()
      if (this.v$.$error) {
        return
      }
      const formData = {
        name: this.name,
        email: this.email,
        password: this.password
      }
        try {
            await this.$store.dispatch('register', formData)
            await this.$router.push('/')
        } catch (e) {
            console.log(e)
            this.$message(error(e))
        }

      console.log(formData)
      this.$router.push('/')
    }
  }
}
</script>
